@model studis.Models.student
@using studis.Models
@{
    ViewBag.Title = "StudentPodatki";
    StudentHelper sh = new StudentHelper();
}
<h2>Podatki o študentu</h2>
<div id="izpis">
    <br />
    <h3>Študent</h3>
    <table class="table">
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Email</th>
            <th>Prenosni telefon</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.vpisnaStevilka)</td>
            <td>@Html.DisplayFor(model => model.ime)</td>
            <td>@Html.DisplayFor(model => model.priimek)</td>
            <td>@Html.DisplayFor(model => model.email)</td>
            <td>@Html.DisplayFor(model => model.prenosniTelefon)</td>
        </tr>
    </table>
    <h3>Sklepi</h3>
    <table class="table">
        <tr>
            <th>Datum</th>
            <th>Veljaven do</th>
            <th>Besedilo</th>
            <th>Izdajatelj</th>
        </tr>
        @foreach (var s in ViewBag.sklep)
        {
            <tr>
                <td>@s.datum</td>
                @if (s.veljavnost == null)
                {
                    <td>/</td>
                }
                else
                {
                    <td>@s.veljavnost</td>
                }
                <td>@s.besedilo</td>
                <td>@s.izdajatelj</td>
            </tr>
        }
    </table>
    <br />
    @if (User.IsInRole("Profesor"))
    {
        <h3>Polaganja</h3>
        <table>
            <thead>
                <tr>
                    <th>Šifra</th>
                    <th>Predmet</th>
                    <th>Izvajalec</th>
                    <th>Letnik</th>
                    <th>Datum</th>
                    <th>KT</th>
                    <th>Točke</th>
                    <th>Ocena</th>
                    <th>Uredi/Dodaj oceno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in @ViewBag.Izvajanja)
                {
                    var counter = 0;
                    foreach (var r in @ViewBag.Roki)
                    {
                        foreach (var p in @ViewBag.Prijave)
                        {
                            if (i.id == r.izvajanjeId && r.id == p.izpitnirokId)
                            {
                                counter++;
                                <tr>
                                    <td>@i.predmet.koda</td>
                                    <td>@i.predmet.ime</td>
                                    <td>
                                        @i.profesor.ime @i.profesor.priimek
                                        @if (@i.izvajalec2Id != null)
                                        {
                                            <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                        }
                                        @if (@i.izvajalec3Id != null)
                                        {
                                            <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                        }
                                    </td>
                                    <td>@i.predmet.letnik</td>
                                    @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                    <td>@datum</td>
                                    <td>@i.predmet.kreditne</td>
                                    @{ var tocke = sh.pridobiTocke(Convert.ToInt32(@p.id)); }
                                    <td>@tocke</td>
                                    @{ var ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                    @if (@ocena > 0)
                                    {
                                        <td>@ocena</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (@ocena > 0 && @r.datum.Year == DateTime.Now.Year && @r.datum < DateTime.Now)
                                    {
                                        <td>@Html.ActionLink("Uredi", "IndiVpisOcen", "IzpitniRok", new { rokId = @p.izpitnirokId, prijavaID = @p.id }, null)</td>
                                    }
                                    else if (@ocena == 0 && @r.datum.Year == DateTime.Now.Year && @r.datum <= DateTime.Now)
                                    {
                                        <td>@Html.ActionLink("Dodaj", "IndiVpisOcen", "IzpitniRok", new { rokId = @p.izpitnirokId, prijavaID = @p.id }, null)</td>
                                    }
                                    else if (@r.datum.Year != DateTime.Now.Year)
                                    {
                                        <td>Ni več možno</td>
                                    }
                                    else if (@r.datum > DateTime.Now)
                                    {
                                        <td>Še ni možno</td>
                                    }
                                </tr>
                            }
                        }
                    }
                    if (counter == 0)
                    {
                        <tr>
                            <td>@i.predmet.koda</td>
                            <td>@i.predmet.ime</td>
                            <td>
                                @i.profesor.ime @i.profesor.priimek
                                @if (@i.izvajalec2Id != null)
                                {
                                    <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                }
                                @if (@i.izvajalec3Id != null)
                                {
                                    <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                }
                            </td>
                            <td>@i.predmet.letnik</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@Html.ActionLink("Dodaj", "VnosOcenBrezPrijave", "IzpitniRok", new { vpisnaSt = Model.vpisnaStevilka }, null)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>
<p>
    @Html.ActionLink("Nazaj", "Students")<br />
    @Html.ActionLink("Kartotečni list", "Izpis", "KartotecniList", new { id = Model.vpisnaStevilka }, null)<br />
</p>
