@model studis.Models.student
@using studis.Models

@{
    ViewBag.Title = "StudentPodatki";
    StudentHelper sh = new StudentHelper();
}

<h2>Podatki o študentu</h2>

<div id="izpis">
    <br />
    <h3>Študent</h3>
    <table class="table">
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Email</th>
            <th>Prenosni telefon</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.vpisnaStevilka)</td>
            <td>@Html.DisplayFor(model => model.ime)</td>
            <td>@Html.DisplayFor(model => model.priimek)</td>
            <td>@Html.DisplayFor(model => model.email)</td>
            <td>@Html.DisplayFor(model => model.prenosniTelefon)</td>
        </tr>
    </table>
    <h3>Sklepi</h3>
    <table class="table">
        <tr>
            <th>Datum</th>
            <th>Veljaven do</th>
            <th>Besedilo</th>
            <th>Izdajatelj</th>
        </tr>
@foreach (var s in ViewBag.sklep)
{
        <tr>
            <td>@s.datum</td>
            @if(s.veljavnost==null)
            { 
                <td>/</td>
            }
            else
            {
                <td>@s.veljavnost</td>
            }
            <td>@s.besedilo</td>
            <td>@s.izdajatelj</td>
        </tr>
}
    </table>
</div>

<br />

<h3>Polaganja</h3>
<table>
    <thead>
        <tr>
            <th>Šifra</th>
            <th>Predmet</th>
            <th>Izvajalec</th>
            <th>Letnik</th>
            <th>Datum</th>
            <th>KT</th>
            <th>Ocena</th>
            <th>Vnos</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var r in @ViewBag.Roki)
        {
            foreach (var p in @ViewBag.Prijave)
            {
                if (r.id == p.izpitnirokId)
                {
                    <tr>
                        <td>@r.izvajanje.predmet.koda</td>
                        <td>@r.izvajanje.predmet.ime</td>
                        <td>
                            @r.izvajanje.profesor.ime @r.izvajanje.profesor.priimek
                            @if (@r.izvajanje.izvajalec2Id != null)
                            {
                                <span>, @r.izvajanje.profesor1.ime @r.izvajanje.profesor1.priimek</span>
                            }
                            @if (@r.izvajanje.izvajalec3Id != null)
                            {
                                <span>, @r.izvajanje.profesor2.ime @r.izvajanje.profesor2.priimek</span>
                            }
                        </td>

                        <td>@r.izvajanje.predmet.letnik</td>
                        @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                        <td>@datum</td>
                        <td>@r.izvajanje.predmet.kreditne</td>
                        @{ var ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                        <td>@ocena</td>
                        <td>@Html.ActionLink("Vnos", "VpisOcen", "IzpitniRok")</td> <!-- potrebno dodati prav ID -->
                    </tr>
                }
            }
        }                 
    </tbody>
</table>
<p>
    @Html.ActionLink("Nazaj", "Students")<br />
    @Html.ActionLink("Kartotečni list", "Izpis", "KartotecniList", new { id = Model.vpisnaStevilka }, null)
</p>
