@model studis.Models.student

@{
    ViewBag.Title = "StudentPodatki";
}

<h2>Podatki o študentu</h2>

<div>
    <h4>Študent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vpisnaStevilka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vpisnaStevilka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.priimek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.priimek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenosniTelefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenosniTelefon)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Nazaj", "Students")
</p>
