@model studis.Models.KoncnaOcenaModel
@using studis.Models

@{
    ViewBag.Title = "StudentPodatki";
    StudentHelper sh = new StudentHelper();
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<h2>Podatki o študentu</h2>

<div id="izpis">
    <br />
    <h3>Študent</h3>
    <table class="table">
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Email</th>
            <th>Prenosni telefon</th>
        </tr>
        <tr>
            <td>Vpisna številka</td>
            <td>Ime</td>
            <td>Priimek</td>
            <td>Email</td>
            <td>Prenosni telefon</td>
        </tr>
    </table>
    <h3>Sklepi</h3>
    <table class="table">
        <tr>
            <th>Datum</th>
            <th>Veljaven do</th>
            <th>Besedilo</th>
            <th>Izdajatelj</th>
        </tr>
        @foreach (var s in ViewBag.sklep)
        {
            <tr>
                <td>@s.datum</td>
                @if (s.veljavnost == null)
                {
                    <td>/</td>
                }
                else
                {
                    <td>@s.veljavnost</td>
                }
                <td>@s.besedilo</td>
                <td>@s.izdajatelj</td>
            </tr>
        }
    </table>

    <br />

    @if (User.IsInRole("Profesor"))
    {
        <h3>Polaganja</h3>
        <table>
            <thead>
                <tr>
                    <th>Šifra</th>
                    <th>Predmet</th>
                    <th>Izvajalec</th>
                    <th>Letnik</th>
                    <th>Datum</th>
                    <th>KT</th>
                    <th>Točke</th>
                    <th>Ocena</th>
                    <th>Uredi/Dodaj oceno</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var i in @ViewBag.Izvajanja)
                {
                    var counter = 0;
                    foreach (var r in @ViewBag.Roki)
                    {
                        foreach (var p in @ViewBag.Prijave)
                        {
                            if (i.id == r.izvajanjeId && r.id == p.izpitnirokId)
                            {
                                counter++;
                                <tr>
                                    <td>@i.predmet.koda</td>
                                    <td>@i.predmet.ime</td>
                                    <td>
                                        @i.profesor.ime @i.profesor.priimek
                                        @if (@i.izvajalec2Id != null)
                                        {
                                            <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                        }
                                        @if (@i.izvajalec3Id != null)
                                        {
                                            <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                        }
                                    </td>
                                    <td>@i.predmet.letnik</td>
                                    @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                    @if (r.fiktiven)
                                    {
                                        <td>Brez prijave</td>
                                    }
                                    else
                                    {
                                        <td>@datum</td>
                                    }
                                    <td>@i.predmet.kreditne</td>
                                    @{ var tocke = sh.pridobiTocke(Convert.ToInt32(@p.id)); }
                                    <td>@tocke</td>
                                    @{ var ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                    @if (@ocena > 0)
                                    {
                                        <td>@ocena</td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    @if (@ocena > 0 && @r.datum.Year == DateTime.Now.Year && @r.datum < DateTime.Now)
                                    {
                                        <td>@Html.ActionLink("Uredi", "IndiVpisOcen", "IzpitniRok", new { rokId = @p.izpitnirokId, prijavaID = @p.id }, null)</td>
                                    }
                                    else if (@ocena == 0 && @r.datum.Year == DateTime.Now.Year && @r.datum <= DateTime.Now)
                                    {
                                        <td>@Html.ActionLink("Dodaj", "IndiVpisOcen", "IzpitniRok", new { rokId = @p.izpitnirokId, prijavaID = @p.id }, null)</td>
                                    }
                                    else if (@r.datum.Year != DateTime.Now.Year)
                                    {
                                        <td>Ni več možno</td>
                                    }
                                    else if (@r.datum > DateTime.Now)
                                    {
                                        <td>Še ni možno</td>
                                    }
                                </tr>
                            }
                        }
                    }
                    if (counter == 0)
                    {
                        <tr>
                            <td>@i.predmet.koda</td>
                            <td>@i.predmet.ime</td>
                            <td>
                                @i.profesor.ime @i.profesor.priimek
                                @if (@i.izvajalec2Id != null)
                                {
                                    <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                }
                                @if (@i.izvajalec3Id != null)
                                {
                                    <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                }
                            </td>
                            <td>@i.predmet.letnik</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@Html.ActionLink("Dodaj", "IndiVpisOcen", "IzpitniRok")</td> <!-- DODAJ POVEZAVO NA VNOS ROKA, PRIJAVE IN OCENE! -->
                        </tr>
                    }
                }
            </tbody>
        </table>
        <br />
        <br />

        <h2>Vpis končne ocene</h2>

        if (ViewBag.imavpis) {
            
            using (Html.BeginForm())
            {
                <div>
                <fieldset>
                    <p>Ocena se vpiše za vpis:</p>
                    <table>
                        <tr>
                            <th>Letnik</th>
                            <th>Študijsko leto</th>
                            <th>Program</th>
                            <th>Vrsta vpisa</th>
                        </tr>
                        <tr>
                            <td>@ViewBag.trenutnivpis.letnikStudija</td>
                            <td>@ViewBag.trenutnivpis.studijskoLeto</td>
                            <td>@ViewBag.trenutnivpis.sifrant_studijskiprogram.naziv</td>
                            <td>@ViewBag.trenutnivpis.sifrant_vrstavpisa.naziv</td>
                        </tr>
                    </table>
                    <br />
                    <br />
                    <!--Izbira Predmeta-->
                    <div class="editor-label">
                        @Html.LabelFor(m => m.predmet)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(m => m.predmet, (SelectList)ViewBag.Predmets)
                        @Html.ValidationMessageFor(m => m.predmet)
                    </div>

                    <!--Izbira izvajanja -->
                    <div class="editor-label">
                        @Html.LabelFor(m => m.izvajanje)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(m => m.izvajanje, (SelectList)ViewBag.Prazen)
                        @Html.ValidationMessageFor(m => m.izvajanje)
                    </div>

                    <!--Izbira IzpitnegaRoka-->
                    <div class="editor-label">
                        @Html.LabelFor(m => m.izpitnirok)
                    </div>
                    <div class="editor-field">
                        @Html.DropDownListFor(m => m.izpitnirok, (SelectList)ViewBag.Prazen)
                        @Html.ValidationMessageFor(m => m.izpitnirok)
                    </div>

                    <!--ocena-->
                    <div class="editor-label">
                        @Html.LabelFor(m => m.ocena)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.izpitnirok)
                        @Html.ValidationMessageFor(m => m.ocena)
                    </div>

                    <p id="warning" style="color:orange;">

                    </p>

                    <p>
                        <input id="submit" type="submit" value="Vpiši">
                    </p>
                </fieldset>
                </div>
            }
            <script language="javascript" type="text/javascript">
                $(document).ready(function () {

                    //napolni izvajanja prvič(ko se stran naloži)
                    var url = "/IzpitniRok/GetIzvajanjaOnlyForPredmet/" + $("#predmet").val();
                    $.get(url, function (response) {
                        var izvajanja = $.parseJSON(response);
                        var ddlIzvajanja = $("#izvajanje");

                        //pocisti
                        if ($("#izvajanje option:first-child").text() == "Iščem..") {
                            $("#izvajanje option:first-child").remove();
                        }
                        $("#izvajanje > option").remove();

                        for (i = 0; i < izvajanja.length; i++) {
                            ddlIzvajanja.append('<option value="' + izvajanja[i].Value + '">' + izvajanja[i].Text + '</option>');
                        }
                        napolniRoke();
                    });

                    //ob spremembi izbranega predmeta
                    $("#predmet").change(function () {
                        var url = "/IzpitniRok/GetIzvajanjaOnlyForPredmet/" + $(this).val();
                        $.get(url, function (response) {
                            var izvajanja = $.parseJSON(response);
                            var ddlIzvajanja = $("#izvajanje");

                            //pocisti
                            $("#izvajanje > option").remove();

                            for (i = 0; i < izvajanja.length; i++) {
                                ddlIzvajanja.append('<option value="' + izvajanja[i].Value + '">' + izvajanja[i].Text + '</option>');
                            }
                            napolniRoke();
                        });
                    });

                    //napolni roke
                    function napolniRoke() {
                        var url = "/IzpitniRok/GetIzpitniRoksOnlyForIzvajanja/" + $("#izvajanje").val();
                        $.get(url, function (response) {
                            var izpitniRoks = $.parseJSON(response);
                            var ddlIzpitniRoks = $("#id");

                            //pocisti
                            if ($("#id option:first-child").text() == "Iščem..") {
                                $("#id option:first-child").remove();
                            }
                            $("#id > option").remove();

                            for (i = 0; i < izpitniRoks.length; i++) {
                                ddlIzpitniRoks.append('<option value="' + izpitniRoks[i].Value + '">' + izpitniRoks[i].Text + '</option>');
                            }
                            preveriStPrijav()
                        });
                    };

                    //ob spremembi izbranega izvajanja
                    $("#izvajanje").change(function () {
                        napolniRoke();
                        preveriStPrijav()
                    });

                    //submit
                    $("#id").change(function () {
                        preveriStPrijav()
                    });

                    function preveriStPrijav() {
                        if ($("#id").val() != "") {
                            var url = "/IzpitniRok/PreveriPrijave/" + $("#id").val();
                            console.log("URL: " + url);
                            $.get(url, function (response) {
                                var st = response;
                                $("#warning").text("Stevilo prijav: " + st);
                            });
                        } else {
                            $("#warning").text("");
                        }
                    }
                });
            </script>
            }
            else
            {
            <p>Študent letos ni vpisan.</p>
            }
            }
        </div>
<p>
    @Html.ActionLink("Nazaj", "Students")<br />
    @Html.ActionLink("Kartotečni list", "Izpis", "KartotecniList", new { id = ViewBag.id }, null)<br />
</p>
