
@{
    ViewBag.Title = "Odjavi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model studis.Models.PrijavaNaIzpitModel
<h2>Odjavi</h2>


@using (Html.BeginForm())
{
    <div>
        <fieldset>

            @if (User.IsInRole("Referent") && ViewBag.Studenti != null)
            {
                <!--Izbira Studenta-->
                <div class="editor-label">
                    @Html.LabelFor(m => m.student)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(m => m.student, (SelectList)ViewBag.Studenti, "Izberi študenta")
                </div>
            }
            else if (User.IsInRole("Referent") && ViewBag.StudentIme != null && ViewBag.StudentVpisna != null)
            {
                <!--Izbira Studenta-->
                <div class="editor-label">
                    <p>
                        @Html.Raw(ViewBag.StudentVpisna) @Html.Raw(ViewBag.StudentIme)
                        <input id="student" type="hidden" name="student" value="@Html.Raw(ViewBag.StudentVpisna)">
                    </p>
                </div>
            }


            <!--Izbira IzpitnegaRoka-->
            <div class="editor-label">
                @Html.LabelFor(m => m.izpitniRok)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.izpitniRok, (SelectList)ViewBag.Prazen)
                @Html.ValidationMessageFor(m => m.izpitniRok)
            </div>



            <ul id="error" style="color:red;"></ul>
            <ul id="warning" style="color:orange;"></ul>
            <ul id="notice" style="color:orange;"></ul>
            <p>
                <input id="submit" type="submit" value="Odjavi">
            </p>
        </fieldset>
    </div>
}

