@{
    ViewBag.Title = "Doma";
}

<h2>@ViewBag.Message</h2>
<p>
    Pozdravljeni v Studisu
</p>

@if (User.IsInRole("Študent"))
{
    if (ViewBag.vpisnast != null)
    {
        <p>Vaša vpisna številka je @ViewBag.vpisnast</p>
    }
    if(ViewBag.student != null) {
        <p>@ViewBag.student</p>
    }
    if (ViewBag.zetoni != null)
    {
        <p>Na voljo imate naslednje vpise:</p>
        <table>
        <tr>
            <th>Letnik</th>
            <th>Klasius</th>
            <th>Oblika študija</th>
            <th>Študijski program</th>
            <th>Vrsta vpisa</th>
        </tr>
    
        @foreach (var z in ViewBag.zetoni)
        {
            <tr>
            <td>
                @z.sifrant_letnik.naziv
            </td>
            <td>
                @z.sifrant_klasius.naziv
            </td>
            <td>
                @z.sifrant_oblikastudija.naziv
            </td>
            <td>
                @z.sifrant_studijskiprogram.naziv
            </td>
            <td>
                @z.sifrant_vrstavpisa.naziv
            </td>
                </tr>
        }
            </table>
    }
    if (ViewBag.vpisi != null)
    {
        <p>Dosedanji vpisi</p>
        <table>
            <tr>
                <th>Letnik</th>
                <th>Študijsko leto</th>
                <th>Program</th>
                <th>Vrsta vpisa</th>
                <th>Potrjen vpis</th>
                <th>Pdf vpisni list</th>
                <th>Vzpostavi Predmetnik</th>
            </tr>
        @{int stevec = 0;}
        @foreach (var v in ViewBag.vpisi)
        {
            <tr>
            <td>@v.letnikStudija</td>
            <td>@v.sifrant_studijskoleto.naziv</td>
            <td>@v.sifrant_studijskiprogram.naziv</td>
            <td>@v.sifrant_vrstavpisa.naziv</td>
            <td>@(v.potrjen ? "Da" : "Ne")</td>
            <td><a href="~/List/Pdf/@v.id">Pdf</a></td>
            <td>
                @if (!ViewBag.vzpostavljen[stevec] && ViewBag.Ponavljanje)
                {
                    if (v.letnikStudija == 1)
                    {
                        <a href="~/VpisniList/PrviPredmetnik/@v.id">Vzpostavi</a>
                    }
                    if (v.letnikStudija == 2)
                    {
                        <a href="~/VpisniList/DrugiPredmetnik/@v.id">Vzpostavi</a>
                    }
                    if (v.letnikStudija == 3)
                    {
                        <a href="~/VpisniList/TretjiPredmetnik/@v.id">Vzpostavi</a>
                    }
                }
             </td>
             </tr>
            stevec++;
        }
        </table>
    }
}

@if (Request.IsAuthenticated)
{
    <a href="~/Account/ChangePassword">Spremeni geslo</a>
}


