<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />    
	<script src="@Url.Content("~/Scripts/jquery-2.1.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">          
                <table style="background-color: inherit" id="noborder">
                    <tr>
                        <td>
                            <img src="~/Content/images/indeks.png" style="height: 150px; width: auto;" />
                        </td>
                        <td style="vertical-align: bottom">
                            <h1>Studis</h1>
                        </td>
                    </tr>
                </table>                
            <div>
                <ul id="menu">
                    <li>@Html.ActionLink("Domov", "Index", "Home")</li>
                    <li>
                        @Html.Partial("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    
        <div id="main">                      
            @RenderBody()
            </div>
       <div id="footer">
           @if (Request.IsAuthenticated)
           {
               <span>Dobrodošel/a <strong>@User.Identity.Name</strong>!</span>
           }
      </div>    
    </div>      
</body>
</html>