@model IEnumerable<studis.Models.student>


@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Išči" />
    </p>
} 
<div id="searchDiv" style="font-family: 'Arial'">
    <table id="seznamStudentov" class="table">
        <tr>
            <th>Vpisna številka</th>
            <th>Ime</th>
            <th>Priimek</th>
            <th>Žeton za vpis</th>
        </tr>
@if (Model != null)
{
    foreach (var item in Model)
    {
        var imeID = item.ime;
        <tr>
            <td>@Html.DisplayFor(modelItem => item.vpisna_stevilka)</td>
            <td>@Html.DisplayFor(modelItem => item.ime)</td>
            <td>@Html.DisplayFor(modelItem => item.priimek)</td>
            <td><a href='@string.Format("/zeton/Dodaj/{0}", item.vpisna_stevilka)'>Ustvari</a></td>
    </tr>
    }
}
    </table>

@if (Model == null)
{
    <h4>Ni zadetkov!</h4>
    <p>Uporaba: iskanje s celo vpisno številko ali začetnicami imena in priimka.</p>
}
    
</div>