@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
    var imagePath = Server.MapPath("~/Content/images");
}

@model studis.Models.VpisniListModel
<div class="img" ><img class="displayed" src="@imagePath\fri.png" alt="fri logo" /></div>


<br />

<div class="naslov"><h2 style="position: center;">Vpisni list @Html.DisplayFor(m => m.studijskoLeto)</h2></div>
<table class="prva">
    <tbody>
        <tr>
            <th>Vpisna številka</th>
            <td>@ViewBag.Vpisna</td>
        </tr>
        <tr>
            <th>Priimek in ime</th>
            <td>@Html.DisplayFor(m => m.priimek), @Html.DisplayFor(m => m.ime)</td>
        </tr>
        <tr>
            <th>Datum rojstva</th>
            <td>@Html.DisplayFor(m => m.datumRojstva)</td>
        </tr>
        <tr>
            <th>Kraj rojstva</th>
            <td>@Html.DisplayFor(m => m.krajRojstva)</td>
        </tr>
        <tr>
            <th>Občina rojstva</th>
            <td>@ViewBag.ObcinaRojstva</td>
        </tr>
        <tr>
            <th>Država rojstva</th>
            <td>@ViewBag.DrzavaRojstva</td>
        </tr>
        <tr>
            <th>Državljanstvo</th>
            <td>@ViewBag.Drzavljanstvo</td>
        </tr>
        <tr>
            <th>Spol</th>
            <td>@ViewBag.Spol</td>
        </tr>
        <tr>
            <th>EMŠO</th>
            <td>@Html.DisplayFor(m => m.emso)</td>
        </tr>
        <tr>
            <th>Davčna številka</th>
            <td>@Html.DisplayFor(m => m.davcnaStevilka)</td>
        </tr>
        <tr>
            <th>e-pošta</th>
            <td>@Html.DisplayFor(m => m.email)</td>
        </tr>
        <tr>
            <th>Prenosni telefon</th>
            <td>@Html.DisplayFor(m => m.prenosniTelefon)</td>
        </tr>
        <tr>
            <th colspan="2">Stalno bivališče</th>
        </tr>
        <tr>
            <th>Naslov</th>
            <td>@Html.DisplayFor(m => m.naslov)</td>
        </tr>
        <tr>
            <th>Pošta in poštna številka</th>
            <td>@ViewBag.PostnaStevilka</td>
        </tr>
        <tr>
            <th>Občina</th>
            <td>@ViewBag.Obcina</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>@ViewBag.Drzava</td>
        </tr>
        <tr>
            <th>Vročanje</th>
            <td>@ViewBag.Vrocanje</td>
        </tr>
        <tr>
            <th colspan="2">Začasno bivališče</th>
        </tr>
        <tr>
            <th>Naslov</th>
            <td>@Html.DisplayFor(m => m.naslovZacasni)</td>
        </tr>
        <tr>
            <th>Pošta in poštna številka</th>
            <td>@ViewBag.PostnaStevilkaZacasni</td>
        </tr>
        <tr>
            <th>Občina</th>
            <td>@ViewBag.ObcinaZacasni</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>@ViewBag.DrzavaZacasni</td>
        </tr>
        <tr>
            <th>Vročanje</th>
            <td>@ViewBag.VrocanjeZacasni</td>
        </tr>
    </tbody>
</table>


<h2>Podatki o vpisu</h2>
<table class="druga">
    <tbody>
        <tr>
            <th>Študijski program</th>
            <td>@ViewBag.StudijskiProgram</td>
        </tr>
        <tr>
            <th>Smer/usmeritev/modul/znanstveno področje</th>
            <td>@Html.DisplayFor(m => m.smer)</td>
        </tr>
        <tr>
            <th>Kraj izvajanja študija</th>
            <td>@ViewBag.KrajIzvajanja</td>
        </tr>
        <tr>
            <th>Izbirna skupina</th>
            <td>@ViewBag.IzbirnaSkupina</td>
        </tr>
        <tr>
            <th>Študijski program</th>
            <td>@ViewBag.StudijskiProgram2</td>
        </tr>
        <tr>
            <th>Smer/usmeritev/modul/znanstveno področje</th>
            <td>@Html.DisplayFor(m => m.smer2)</td>
        </tr>
        <tr>
            <th>Kraj izvajanja študija</th>
            <td>@ViewBag.KrajIzvajanja2</td>
        </tr>
        <tr>
            <th>Izbirna skupina</th>
            <td>@ViewBag.IzbirnaSkupina2</td>
        </tr>


        <tr>
            <th>Vrsta študija</th>
            <td>@ViewBag.VrstaStudija</td>
        </tr>
        <tr>
            <th>Vrsta vpisa</th>
            <td>@ViewBag.VrstaVpisa</td>
        </tr>
        <tr>
            <th>Letnik/dodatno leto</th>
            <td>@ViewBag.LetnikStudija</td>
        </tr>
        <tr>
            <th>Način in oblika študija</th>
            <td>@ViewBag.NacinStudija, @ViewBag.OblikaStudija</td>
        </tr>
        <tr>
            <th>Študijsko leto</th>
            <td>@Html.DisplayFor(m => m.studijskoLeto)</td>
        </tr>
    </tbody>
</table>

<br />

<h2>Podatki o vzporednem študiju</h2>
<table class="tretja">
    <tbody>
        <tr>
            <th>Zavod</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Letnik/dodatno leto</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Študijski program</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Vrsta študija</th>
            <td>/</td>
        </tr>
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<p>
    Podpisani, v skladu z določili Zakona o varstvu osebnih podatkov (Uradni list RS št. 94/07 - <br />
    uradno prečiščeno besedilo)/ZVOP - 1 UPB1/ dovoljujem, da lahko visokošolski zavod, na <br />
    katerega se vpisujem, uporablja<br />
    - moje osebne podatke za koriščenje storitev knjižničnega sistema<br />
    - moje kontaktne podatke za obveščanje o aktualnih študijskih zadevah ter za karierno <br />
      svetovanje in za druge aktivnosti, povezane z zagotavljanjem kakovosti.<br />
</p>

<br />

<table class="dovoli">
    <tbody>
        <tr>
            <td>DA</td>
            <td>NE</td>
        </tr>
    </tbody>
</table>

<br />

<p>
    S podpisom jamčim za resničnost podatkov. Spremembe podatkov bom članici UL prijavil <br />
    v osmih dneh po nastanku sprememb.
</p>
<br />
<br />
<table class="cetrta">
    <tbody>
        <tr>
            <th>Datum oddaje</th>
            <th>Podpis študentke/študenta</th>
        </tr>
        <tr>
            <td>_____________________________________</td>
            <td>_____________________________________</td>
        </tr>
    </tbody>
</table>

<br />
<br />
<br />

<table class="peta">
    <tbody>
        <tr>
            <th colspan="3">Študijski program</th>
        </tr>
        <tr>
            <td colspan="3">@ViewBag.StudijskiProgram</td>
        </tr>
        <tr>
            <th>Koda</th>
            <th>Učna enota</th>
            <th>Število KT</th>
        </tr>
        @foreach (var predmet in @ViewBag.Predmeti)
        {
            <tr>
                <td>@predmet.koda</td>
                <td>@predmet.ime</td>
                <td>@predmet.kreditne</td>
            </tr>
        }
    </tbody>
</table>

<br />
<br />
<br />
<br />
<br />
<br />

<table class="sesta">
    <tbody>
        <tr>
            <th colspan="3">Študijski program</th>
        </tr>
        <tr>
            <td colspan="3">@ViewBag.StudijskiProgram2</td>
        </tr>
        <tr>
            <th>Koda</th>
            <th>Učna enota</th>
            <th>Število KT</th>
        </tr>
        <tr>
            <td>/</td>
            <td>/</td>
            <td>/</td>
        </tr>      
    </tbody>
</table>

<br />
<br />

<h2>Predhodno dosežena izobrazba</h2>
<table class="sedma">
    <tbody>
        <tr>
            <th>Zavod</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Kraj</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Država</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Program</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Leto zaključka</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Uspeh</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Smer/naziv strokovne izobrazbe</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Način končanja srednje šole</th>
            <td>/</td>
        </tr>
        <tr>
            <th>KLASIUS SRV</th>
            <td>/</td>
        </tr>
        <tr>
            <th>Najvišja dosežena izobrazba</th>
            <td>/</td>
        </tr>
    </tbody>
</table>