@model studis.Models.TretjiPredmetnikProstiModel

@{
    ViewBag.Title = "Uredi predmetnik";
}

<h2>Uredi predmetnik 3. letnika</h2>

@if (TempData["error"] != null)
{
    <span style="color: red; font-weight: bold">@TempData["error"]</span>
}


<p>Obvezni predmeti</p>

@using (Html.BeginForm())
{

    <ul>
        @foreach (var item in ViewBag.obvezniPredmeti)
        {
            <li>@item.ime <span>.. @item.kreditne KT</span></li>
        }
    </ul>

    <hr />
    <p style="font-weight: bold">Obvezni predmeti skupaj dajo @ViewBag.sumObv kreditnih točk</p>
    <p style="font-weight: bold">Izbrati morate še o @ViewBag.sumIzb kreditnih točk iz izbirnih predmetov, vsaj en kora biti strokovno izbirni in vsaj en prosto izbirni.</p>


    <p>Izbirni predmeti</p>
    foreach (var modul in ViewBag.izbirniPredmeti)
    {
        <div style="font-weight: bold">
            @modul.ime
        </div>
        foreach (var predmet in modul.predmets)
        {
            var counter = 0;

            foreach (var item in ViewBag.Modul)
            {
                if (@item.predmetId == @predmet.id)
                {
                    <div>
                        <input type="checkbox" name="prosto_@predmet.id" value="@predmet.id" checked> @predmet.ime
                        .. @predmet.kreditne KT<br />
                    </div>
                    counter++;
                }
            }
            if (counter == 0)
            {
                <div>
                    <input type="checkbox" name="prosto_@predmet.id" value="@predmet.id"> @predmet.ime
                    .. @predmet.kreditne KT<br />
                </div>
            }
        }
    }

    @Html.HiddenFor(m => m.vlid)

    <br />

    <input type="submit" value="Spremeni">
}