@model studis.Models.sifrant_studijskiprogram
@using studis.Models

@{
    ViewBag.Title = "Kartotečni list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StudentHelper sh = new StudentHelper();
}

<h2>Kartotečni list</h2>

<!--- selektor za vsa/zadnje polaganje; selektor za študijski program -->
@using (Html.BeginForm("Izpis", "KartotecniList", new { vpisna = ViewBag.Vpisna }, FormMethod.Post, null))
{
    @Html.DropDownList("polaganja", new SelectList(new[] { "Zadnje polaganje", "Vsa polaganja" })) 
    @Html.DropDownListFor(m => m.id, (SelectList)ViewBag.Program)
    <br />
    <br />
    <input type="submit" value="Izpiši" />
}
    
<br />
<br />

@if (@ViewBag.Izbira != null) 
{
    <!-- Zadnje polaganje -->
    if (@ViewBag.Izbira == 0)
    {
        <div id="izpis">
            <!--- foreach {leto študija} -->
            @foreach (var v in @ViewBag.Vpisi)
            {
                var tocke = 0;
                var stOcen = 0;
                var sestevek = 0;
                var opravil = 0;
                var povprecje = 0;
                int temp;

                <!-- GLAVA -->
                
                <h2>@v.sifrant_studijskoleto.naziv</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Študijsko leto</th>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                        </tr>
                        <tr>
                            <th>Študijski program</th>
                            <td>@v.sifrant_studijskiprogram.naziv</td>
                        </tr>
                        <tr>
                            <th>Letnik</th>
                            <td>@v.letnikStudija</td>
                        </tr>
                        @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                        {
                            var st = 1;
                            foreach (var mod in @ViewBag.Moduli)
                            {
                                <tr>
                                    <th>Moduli @st</th>
                                    <td>@mod</td>
                                </tr>
                                st++;
                            }
                        }
                        <tr>
                            <th>Vrsta vpisa</th>
                            <td>@v.sifrant_vrstavpisa.naziv</td>
                        </tr>
                        <tr>
                            <th>Način študija</th>
                            <td>@v.sifrant_nacinstudija.naziv</td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <!-- IZPIS -->
                <table>
                    <thead>
                        <tr>
                            <th>Šifra</th>
                            <th>Predmet</th>
                            <th>Ocenil(-a)</th>
                            <th>Letnik</th>
                            <th>Datum</th>
                            <th>Polaganje</th>
                            <th>Polaganje v tem letu</th>
                            <th>KT</th>
                            <th>Ocena</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in @ViewBag.Izvajanja)
                        {
                            var pisal = 0;
                            foreach (var r in @ViewBag.Roki)
                            {
                                foreach (var p in @ViewBag.Prijave)
                                {
                                    if (i.studijskoletoId == v.studijskoLeto && i.izpitnirok.Contains(r) && p.vpisId == v.id && r.id == p.izpitnirokId)
                                    {
                                        pisal++;
                                    
                                        <tr>
                                            <td>@i.predmet.koda</td>
                                            <td>@i.predmet.ime</td>
                                            <td>
                                                @i.profesor.ime @i.profesor.priimek
                                                @if (@i.izvajalec2Id != null)
                                                {
                                                    <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                                }
                                                @if (@i.izvajalec3Id != null)
                                                {
                                                    <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                                }
                                            </td>
                                            <td>@i.predmet.letnik</td>
                                            <td><!-- r.prijavanaizpit.datumPrijave --></td>
                                            @{ temp = sh.polaganjaVsa(@v.vpisnaStevilka, Convert.ToInt32(@i.predmetId), @v.studijskiProgram); }
                                            <td>@temp</td>
                                            @{ temp = sh.polaganjaLetos(@v.id, @i.id); }
                                            <td>@temp</td>
                                            <td>@i.predmet.kreditne</td>
                                            <td>@p.ocena.ocena</td>
                                        </tr>

                                        if (@p.ocena.ocena != null)
                                        {
                                            if (@p.ocena.ocena > 5)
                                            {
                                                tocke += @i.predmet.kreditne;
                                                stOcen += @p.ocena.ocena;
                                                sestevek++;
                                                opravil++;
                                            }
                                        }
                                    }
                                }            
                            }
                            if (pisal == 0 && i.studijskoletoId == v.studijskoLeto)
                            {   
                                <tr>
                                    <td>@i.predmet.koda</td>
                                    <td>@i.predmet.ime</td>
                                    <td>
                                        @i.profesor.ime @i.profesor.priimek
                                        @if (@i.izvajalec2Id != null)
                                        {
                                            <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                        }
                                        @if (@i.izvajalec3Id != null)
                                        {
                                            <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                        }
                                    </td>
                                    <td>@i.predmet.letnik</td>
                                    <td>/</td>
                                    @{ temp = sh.polaganjaVsa(@v.vpisnaStevilka, Convert.ToInt32(@i.predmetId), @v.studijskiProgram); }
                                    <td>@temp</td>
                                    <td>0</td>
                                    <td>@i.predmet.kreditne</td>
                                    <td>/</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <br />

                <!--- NOGA -->
                <h2>Povprečne ocene po študijskih letih</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Študijsko leto</th>
                            <th>Število opravljenih izpitov</th>
                            <th>Kreditne točke</th>
                            <th>Skupno povprečje</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                            <td>@opravil</td>
                            <td>@tocke</td>
                            <td>
                                @if (stOcen != 0 && sestevek != 0)
                                {
                                    povprecje = stOcen / sestevek;
                                }
                                @povprecje
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
        }
        </div>
    }
    
    <!-- Vsa polaganja -->
    if (@ViewBag.Izbira == 1)
    {
        <div id="izpis">
            <!--- foreach {leto študija} -->
            @foreach (var v in @ViewBag.Vpisi)
            {
                var tocke = 0;
                var stOcen = 0;
                var sestevek = 0;
                var opravil = 0;
                var povprecje = 0;
                int temp;

                <!-- GLAVA -->
                <h2>@v.sifrant_studijskoleto.naziv</h2>
                <table>
                    <tbody>
                        <tr>
                            <th>Študijsko leto</th>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                        </tr>
                        <tr>
                            <th>Študijski program</th>
                            <td>@v.sifrant_studijskiprogram.naziv</td>
                        </tr>
                        <tr>
                            <th>Letnik</th>
                            <td>@v.letnikStudija</td>
                        </tr>
                        @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                        {
                            var st = 1;
                            foreach (var mod in @ViewBag.Moduli)
                            {
                                <tr>
                                    <th>Moduli @st</th>
                                    <td>@mod</td>
                                </tr>
                                st++;
                            }
                        }
                        <tr>
                            <th>Vrsta vpisa</th>
                            <td>@v.sifrant_vrstavpisa.naziv</td>
                        </tr>
                        <tr>
                            <th>Način študija</th>
                            <td>@v.sifrant_nacinstudija.naziv</td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <!-- IZPIS -->
                <table>
                    <thead>
                        <tr>
                            <th>Šifra</th>
                            <th>Predmet</th>
                            <th>Ocenil(-a)</th>
                            <th>Letnik</th>
                            <th>Datum</th>
                            <th>Polaganje</th>
                            <th>Polaganje v tem letu</th>
                            <th>KT</th>
                            <th>Ocena</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var i in @ViewBag.Izvajanja)
                        {
                            var pisal = 0;
                            var zadnjaOcena = 0;

                            foreach (var r in @ViewBag.Roki)
                            {
                                foreach (var p in @ViewBag.Prijave)
                                {
                                    if (i.studijskoletoId == v.studijskoLeto && i.izpitnirok.Contains(r) && p.vpisId == v.id && r.id == p.izpitnirokId)
                                    {
                                        pisal++;
                                        
                                        <tr>
                                            <td>@i.predmet.koda</td>
                                            <td>@i.predmet.ime</td>
                                            <td>
                                                @i.profesor.ime @i.profesor.priimek
                                                @if (@i.izvajalec2Id != null)
                                                {
                                                    <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                                }
                                                @if (@i.izvajalec3Id != null)
                                                {
                                                    <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                                }
                                            </td>
                                            <td>@i.predmet.letnik</td>
                                            <td><!-- r.prijavanaizpit.datumPrijave --></td>
                                            @{ temp = sh.polaganjaVsa(@v.vpisnaStevilka, Convert.ToInt32(@i.predmetId), @v.studijskiProgram); }
                                            <td>@temp</td>
                                            @{ temp = sh.polaganjaLetos(@v.id, @i.id); }
                                            <td>@temp</td>
                                            <td>@i.predmet.kreditne</td>
                                            <td>@p.ocena.ocena</td>
                                        </tr>
                                        
                                        zadnjaOcena = @p.ocena.ocena;
                                    }
                                }
                            }
                            if (pisal == 0 && i.studijskoletoId == v.studijskoLeto)
                            {
                                    <tr>
                                        <td>@i.predmet.koda</td>
                                        <td>@i.predmet.ime</td>
                                        <td>
                                            @i.profesor.ime @i.profesor.priimek
                                            @if (@i.izvajalec2Id != null)
                                            {
                                                <span>, @i.profesor1.ime @i.profesor1.priimek</span>
                                            }
                                            @if (@i.izvajalec3Id != null)
                                            {
                                                <span>, @i.profesor2.ime @i.profesor2.priimek</span>
                                            }
                                        </td>
                                        <td>@i.predmet.letnik</td>
                                        <td>/</td>
                                        @{ temp = sh.polaganjaVsa(@v.vpisnaStevilka, Convert.ToInt32(@i.predmetId), @v.studijskiProgram); }
                                        <td>@temp</td>
                                        <td>0</td>
                                        <td>@i.predmet.kreditne</td>
                                        <td>/</td>
                                    </tr>
                            }
                            else
                            {
                                if (zadnjaOcena > 5)
                                {
                                    tocke += @i.predmet.kreditne;
                                    stOcen += zadnjaOcena;
                                    sestevek++;
                                    opravil++;
                                }
                            }
                        }
                    </tbody>
                </table>

                <br />

                <!--- NOGA -->
                <h2>Povprečne ocene po študijskih letih</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Študijsko leto</th>
                            <th>Število opravljenih izpitov</th>
                            <th>Kreditne točke</th>
                            <th>Skupno povprečje</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                            <td>@opravil</td>
                            <td>@tocke</td>
                            <td>
                                @if (stOcen != 0 && sestevek != 0)
                                {
                                    povprecje = stOcen/sestevek; 
                                }
                                @povprecje
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br />
                <br />
            }
        </div>
    }
}