@model studis.Models.sifrant_studijskiprogram
@using studis.Models

@{
    ViewBag.Title = "Kartotečni list";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StudentHelper sh = new StudentHelper();
}

<style>
    html {
            font-family: 'Arial';
    }
    table {
        font-family: 'Arial';
        border: solid 1px #ccc;
        border-collapse: collapse;
        background-color: White;
        text-align: center;
    }
    #left {
        text-align: left;
    }
    #center {
        text-align: center;
    }
</style>

<h2>Kartotečni list - @ViewBag.Student.ime @ViewBag.Student.priimek</h2>

@using (Html.BeginForm("Izpis", "KartotecniList", new { vpisna = ViewBag.Vpisna }, FormMethod.Post, null))
{
    @Html.DropDownList("polaganja", new SelectList(new[] { "Zadnje polaganje", "Vsa polaganja" })) <input type="submit" value="Izpiši" />
}
    
<br />

@if (@ViewBag.Izbira != null)
{
    var skupneOcene = 0.0;
    var skupniSestevek = 0.0;
    var skupneTocke = 0;
    double skupnoPovprecje = 0;
        
    if (@ViewBag.Izbira == 0)
    {
        var cntProg = 0;
        <div id="izpis2">
            @foreach (var v in @ViewBag.Vpisi)
            {
                var tocke = 0;
                var stOcen = 0.0;
                var sestevek = 0.0;
                var opravil = 0;
                double povprecje = 0;
                int temp;
                int ocena;
                var cnt = 1;

                if (v.sifrant_studijskiprogram.id == 1000471 && cntProg != 0)
                {
                    <!-- Povprečne ocene po študijskih letih  -->
                    <h2>Povprečne ocene v tem programu</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Skupaj KT</th>
                                <th>Skupno povprečje</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@skupneTocke</td>
                                <td>
                                    @if (skupneOcene != 0 && skupniSestevek != 0)
                                    {
                                        skupnoPovprecje = skupneOcene / skupniSestevek;
                                    }
                                    @skupnoPovprecje
                                </td>
                            </tr>
                        </tbody>
                    </table>
                
                    skupneTocke = 0;
                    skupneOcene = 0.0;
                    skupniSestevek = 0.0;
                    skupnoPovprecje = 0;

                    <br />
                    <br />
                    <br />
                }

                <!-- GLAVA -->
                if (v.sifrant_studijskiprogram.id == 1000468 && cntProg == 0)
                {
                    <h2>@v.sifrant_studijskiprogram.naziv</h2>
                    cntProg++;
                }
                else if (v.sifrant_studijskiprogram.id == 1000471 && cntProg != 0)
                {
                    <h2>@v.sifrant_studijskiprogram.naziv</h2>
                    cntProg = 0;
                }

                <table class="prva">
                    <thead>
                        <tr>
                            <th id="center">Študijsko leto</th>
                            <th id="center">Letnik</th>
                            @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                            {
                                var st = 1;
                                foreach (var mod in @ViewBag.Moduli)
                                {
                                    <th id="center">Moduli @st</th>
                                    st++;
                                }
                            }
                            <th id="center">Vrsta vpisa</th>
                            <th id="center">Način študija</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>                       
                            <td>@v.letnikStudija</td>
                            @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                            {
                                var st = 1;
                                foreach (var mod in @ViewBag.Moduli)
                                {
                                    <td>@mod</td>
                                    st++;
                                }
                            } 
                            <td>@v.sifrant_vrstavpisa.naziv</td>
                            <td>@v.sifrant_nacinstudija.naziv</td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <!-- IZPIS -->
                <table class="druga">
                    <thead>
                        <tr>
                            <th id="center">#</th>
                            <th id="center">Šifra</th>
                            <th id="center" style="width: 130px">Predmet</th>
                            <th id="center">KT</th>
                            <th id="center">Letnik</th>
                            <th id="center" style="width: 100px">Izvajalec</th>
                            <th id="center">Datum</th>
                            <th id="center" colspan="2">Polaganja</th>
                            <th id="center">Ocena</th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- ponavljanje -->
                        @if (v.vrstaVpisa == 2)
                        {
                            foreach (var i in @ViewBag.Izvajanja)
                            {
                                var pisal = 0;
                                foreach (var r in @ViewBag.Roki)
                                {
                                    foreach (var p in @ViewBag.Prijave)
                                    {
                                        if (pisal == 0 && r.id == p.izpitnirokId && (p.vpisId == @ViewBag.Zacasni.id || p.vpisId == v.id) && i.izpitniroks.Contains(r) && @ViewBag.Zacasni.izvajanjes.Contains(i))
                                        {
                                            pisal++;

                                            <tr>
                                                <td>@cnt</td>
                                                <td>@i.predmet.koda</td>
                                                <td id="left">@i.predmet.ime</td>
                                                <td>@i.predmet.kreditne</td>
                                                <td>@i.predmet.letnik</td>
                                                <td id="left">
                                                    @i.profesor.ime @i.profesor.priimek
                                                    @if (@i.izvajalec2Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor1.ime @i.profesor1.priimek</span>
                                                    }
                                                    @if (@i.izvajalec3Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor2.ime @i.profesor2.priimek</span>
                                                    }
                                                </td>
                                                @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                                <td>@datum</td>
                                                @{ temp = sh.polaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id)); }
                                                @if (temp != 0)
                                                { 
                                                    <td>@temp</td>
                                                }
                                                else
                                                { 
                                                    <td></td> 
                                                }
                                                @{ temp = sh.polaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                } 
                                                @{ ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                                <td>@ocena</td>
                                            </tr>
                            
                                            cnt++;                
                            
                                            if (@ocena != 0)
                                            {
                                                if (@ocena > 5)
                                                {
                                                    tocke += @i.predmet.kreditne;
                                                    stOcen += @ocena;
                                                    sestevek++;
                                                    opravil++;
                                                }
                                            }
                                        }
                                    }
                                }
                                if (pisal == 0 && v.izvajanjes.Contains(i))
                                {
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@i.predmet.koda</td>
                                        <td id="left">@i.predmet.ime</td>
                                        <td>@i.predmet.kreditne</td>
                                        <td>@i.predmet.letnik</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                            
                                    cnt++;
                                }
                            }
                        }
                        else
                        {
                            foreach (var i in @ViewBag.Izvajanja)
                            {
                                var pisal = 0;
                                foreach (var r in @ViewBag.Roki)
                                {
                                    foreach (var p in @ViewBag.Prijave)
                                    {
                                        if (pisal == 0 && p.vpisId == v.id && r.id == p.izpitnirokId && i.izpitniroks.Contains(r) && v.izvajanjes.Contains(i))
                                        {
                                            pisal++;

                                            <tr>
                                                <td>@cnt</td>
                                                <td>@i.predmet.koda</td>
                                                <td id="left">@i.predmet.ime</td>
                                                <td>@i.predmet.kreditne</td>
                                                <td>@i.predmet.letnik</td>
                                                <td id="left">
                                                    @i.profesor.ime @i.profesor.priimek
                                                    @if (@i.izvajalec2Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor1.ime @i.profesor1.priimek</span>
                                                    }
                                                    @if (@i.izvajalec3Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor2.ime @i.profesor2.priimek</span>
                                                    }
                                                </td>
                                                @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                                <td>@datum</td>
                                                @{ temp = sh.polaganjaVsaVpis(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ temp = sh.polaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                                <td>@ocena</td>
                                            </tr>
                            
                                            cnt++;

                                            if (@ocena != 0)
                                            {
                                                if (@ocena > 5)
                                                {
                                                    tocke += @i.predmet.kreditne;
                                                    stOcen += @ocena;
                                                    sestevek++;
                                                    opravil++;
                                                }
                                            }
                                        }
                                    }         
                                }
                                if (pisal == 0 && v.izvajanjes.Contains(i))
                                {   
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@i.predmet.koda</td>
                                        <td id="left">@i.predmet.ime</td>
                                        <td>@i.predmet.kreditne</td>
                                        <td>@i.predmet.letnik</td>
                                        @{ temp = sh.polaganjaVsaVpis(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id)); }
                                        @if (temp != 0)
                                        {
                                            <td></td>
                                            <td></td>
                                            <td>@temp</td>
                                            <td></td>
                                            <td></td>

                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                        
                                    </tr>
                            
                                    cnt++;
                                }
                            }
                        }
                    </tbody>
                </table>

                <br />

                <!--- NOGA -->
                <table class="tretja">
                    <thead>
                        <tr>
                            <th>Študijsko leto</th>
                            <th>Število opravljenih izpitov</th>
                            <th>KT</th>
                            <th>Povprečje</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                            <td>@opravil</td>
                            <td>@tocke</td>
                            <td>
                                @if (stOcen != 0 && sestevek != 0)
                                {
                                    povprecje = stOcen / sestevek;
                                }
                                @povprecje
                            </td>
                        </tr>
                    </tbody>
                </table>
                skupneTocke += tocke;
                skupneOcene += stOcen;
                skupniSestevek += sestevek;

                <div>
                    <br />
                    <br />
                </div>
            }
        </div>
    }

    <!-- Vsa polaganja -->
    if (@ViewBag.Izbira == 1)
    {
        var cntProg = 0;
        <div id="izpis2">
            @foreach (var v in @ViewBag.Vpisi)
            {
                var tocke = 0;
                var stOcen = 0.0;
                var sestevek = 0.0;
                var opravil = 0;
                double povprecje = 0;
                int temp;
                int ocena;
                var cnt = 1;

                if (v.sifrant_studijskiprogram.id == 1000471 && cntProg != 0)
                {
                    <!-- Povprečne ocene po študijskih letih  -->
                    <h2>Povprečne ocene v tem programu</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Skupaj KT</th>
                                <th>Skupno povprečje</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>@skupneTocke</td>
                                <td>
                                    @if (skupneOcene != 0 && skupniSestevek != 0)
                                    {
                                        skupnoPovprecje = skupneOcene / skupniSestevek;
                                    }
                                    @skupnoPovprecje
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    skupneTocke = 0;
                    skupneOcene = 0.0;
                    skupniSestevek = 0.0;
                    skupnoPovprecje = 0;

                    <br />
                    <br />
                    <br />
                }

                <!-- GLAVA -->
                if (v.sifrant_studijskiprogram.id == 1000468 && cntProg == 0)
                {
                    <h2>@v.sifrant_studijskiprogram.naziv</h2>
                    cntProg++;
                }
                else if (v.sifrant_studijskiprogram.id == 1000471 && cntProg != 0)
                {
                    <h2>@v.sifrant_studijskiprogram.naziv</h2>
                    cntProg = 0;
                }
                <table class="prva">
                    <thead>
                        <tr>
                            <th id="center">Študijsko leto</th>
                            <th id="center">Letnik</th>
                            @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                            {
                                var st = 1;
                                foreach (var mod in @ViewBag.Moduli)
                                {
                                    <th id="center">Moduli @st</th>
                                    st++;
                                }
                            }
                            <th id="center">Vrsta vpisa</th>
                            <th id="center">Način študija</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>                       
                            <td>@v.letnikStudija</td>
                            @if (@v.letnikStudija == 3 && @v.studijskiProgram == 1000468 && @ViewBag.Moduli != null)
                            {
                                var st = 1;
                                foreach (var mod in @ViewBag.Moduli)
                                {
                                    <td>@mod</td>
                                    st++;
                                }
                            } 
                            <td>@v.sifrant_vrstavpisa.naziv</td>
                            <td>@v.sifrant_nacinstudija.naziv</td>
                        </tr>
                    </tbody>
                </table>

                <br />

                <!-- IZPIS -->
                <table class="druga">
                    <thead>
                        <tr>
                            <th id="center">#</th>
                            <th id="center">Šifra</th>
                            <th id="center" style="width: 130px">Predmet</th>
                            <th id="center">KT</th>
                            <th id="center">Letnik</th>
                            <th id="center" style="width: 100px">Izvajalec</th>
                            <th id="center">Datum</th>
                            <th id="center" colspan="2">Polaganja</th>
                            <th id="center">Ocena</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (v.vrstaVpisa == 2)
                        {
                            foreach (var i in @ViewBag.Izvajanja)
                            {
                                var pisal = 0;
                                var zadnjaOcena = 0;

                                foreach (var r in @ViewBag.Roki)
                                {
                                    foreach (var p in @ViewBag.Prijave)
                                    {
                                        if (r.id == p.izpitnirokId && (p.vpisId == @ViewBag.Zacasni.id || p.vpisId == v.id) && i.izpitniroks.Contains(r) && @ViewBag.Zacasni.izvajanjes.Contains(i))
                                        {
                                            <tr>
                                                @if (pisal == 0)
                                                {
                                                    <td>@cnt</td>
                                                    <td>@i.predmet.koda</td>
                                                    <td id="left">@i.predmet.ime</td>
                                                    <td>@i.predmet.kreditne</td>
                                                    <td>@i.predmet.letnik</td>
                                                    cnt++;
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                }
                                                <td id="left">
                                                    @i.profesor.ime @i.profesor.priimek
                                                    @if (@i.izvajalec2Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor1.ime @i.profesor1.priimek</span>
                                                    }
                                                    @if (@i.izvajalec3Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor2.ime @i.profesor2.priimek</span>
                                                    }
                                                </td>
                                                @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                                <td>@datum</td>
                                                @{ temp = sh.zaporednoPolaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id), Convert.ToInt32(@r.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ temp = sh.zaporednoPolaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id), Convert.ToInt32(@r.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                                <td>@ocena</td>
                                            </tr>

                                            zadnjaOcena = @ocena;
                                            pisal++;
                                        }
                                    }
                                }
                                if (pisal == 0 && v.izvajanjes.Contains(i))
                                {
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@i.predmet.koda</td>
                                        <td id="left">@i.predmet.ime</td>
                                        <td>@i.predmet.kreditne</td>
                                        <td>@i.predmet.letnik</td>
                                        <td id="left">
                                            @i.profesor.ime @i.profesor.priimek
                                            @if (@i.izvajalec2Id != null)
                                            {
                                                <span>,</span><span><br />@i.profesor1.ime @i.profesor1.priimek</span>
                                            }
                                            @if (@i.izvajalec3Id != null)
                                            {
                                                <span>,</span><span><br />@i.profesor2.ime @i.profesor2.priimek</span>
                                            }
                                        </td>
                                        @{ temp = sh.polaganjaVsa(Convert.ToInt32(@v.vpisnaStevilka), Convert.ToInt32(@i.id), Convert.ToInt32(@v.studijskiProgram)); }
                                        @if (temp != 0)
                                        {
                                            <td></td>
                                            <td></td>
                                            <td>@temp</td>
                                            <td></td> 
                                            <td></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        }
                                        
                                    </tr>
                            
                                    cnt++;
                                }
                                else
                                {
                                    if (zadnjaOcena > 5)
                                    {
                                        tocke += @i.predmet.kreditne;
                                        stOcen += zadnjaOcena;
                                        sestevek++;
                                        opravil++;
                                    }
                                }
                            }
                        }
                        else
                        {
                            foreach (var i in @ViewBag.Izvajanja)
                            {
                                var pisal = 0;
                                var zadnjaOcena = 0;

                                foreach (var r in @ViewBag.Roki)
                                {
                                    foreach (var p in @ViewBag.Prijave)
                                    {
                                        if (p.vpisId == v.id && r.id == p.izpitnirokId && i.izpitniroks.Contains(r) && v.izvajanjes.Contains(i))
                                        {
                                            

                                            <tr>
                                                @if (pisal == 0)
                                                {
                                                    <td>@cnt</td>
                                                    <td>@i.predmet.koda</td>
                                                    <td id="left">@i.predmet.ime</td>
                                                    <td>@i.predmet.kreditne</td>
                                                    <td>@i.predmet.letnik</td>
                                                    cnt++;
                                                }
                                                else
                                                {
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                }
                                                <td id="left">
                                                    @i.profesor.ime @i.profesor.priimek
                                                    @if (@i.izvajalec2Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor1.ime @i.profesor1.priimek</span>
                                                    }
                                                    @if (@i.izvajalec3Id != null)
                                                    {
                                                        <span>,</span><span><br />@i.profesor2.ime @i.profesor2.priimek</span>
                                                    }
                                                </td>
                                                @{ var datum = sh.pridobiDatum(Convert.ToInt32(@p.id)); }
                                                <td>@datum</td>
                                                @{ temp = sh.zaporednoPolaganje(Convert.ToInt32(@v.vpisnaStevilka), Convert.ToInt32(@i.id), Convert.ToInt32(@v.studijskiProgram), @r.datum); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td> 
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ temp = sh.zaporednoPolaganjaLetos(Convert.ToInt32(@v.id), Convert.ToInt32(@i.id), Convert.ToInt32(@r.id)); }
                                                @if (temp != 0)
                                                {
                                                    <td>@temp</td>
                                                }
                                                else
                                                {
                                                    <td></td> 
                                                }
                                                @{ ocena = sh.pridobiOceno(Convert.ToInt32(@p.id)); }
                                                <td>@ocena</td>
                                            </tr>
                                            pisal++;
                                            zadnjaOcena = @ocena;
                                        }
                                    }
                                }
                                if (pisal == 0 && v.izvajanjes.Contains(i))
                                {
                                    <tr>
                                        <td>@cnt</td>
                                        <td>@i.predmet.koda</td>
                                        <td id="left">@i.predmet.ime</td>
                                        <td>@i.predmet.kreditne</td>
                                        <td>@i.predmet.letnik</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                            
                                    cnt++;
                                }
                                else
                                {
                                    if (zadnjaOcena > 5)
                                    {
                                        tocke += @i.predmet.kreditne;
                                        stOcen += zadnjaOcena;
                                        sestevek++;
                                        opravil++;
                                    }
                                }
                            }
                        }
                    </tbody>
                </table>

                <br />

                <!--- NOGA -->
                <table class="tretja">
                    <thead>
                        <tr>
                            <th>Študijsko leto</th>
                            <th>Število opravljenih izpitov</th>
                            <th>KT</th>
                            <th>Povprečje</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@v.sifrant_studijskoleto.naziv</td>
                            <td>@opravil</td>
                            <td>@tocke</td>
                            <td>
                                @if (stOcen != 0 && sestevek != 0)
                                {
                                    povprecje = stOcen / sestevek;
                                }
                                @povprecje
                            </td>
                        </tr>
                    </tbody>
                </table>

                skupneTocke += tocke;
                skupneOcene += stOcen;
                skupniSestevek += sestevek;

                <br />
                <br />
            }
        </div>
    }

    <!-- Povprečne ocene po študijskih letih  -->
    <h2>Povprečne ocene v tem programu</h2>
    <table>
        <thead>
            <tr>
                <th>Skupaj KT</th>
                <th>Skupno povprečje</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@skupneTocke</td>
                <td>
                    @if (skupneOcene != 0 && skupniSestevek != 0)
                    {
                        skupnoPovprecje = skupneOcene / skupniSestevek;
                    }
                    @skupnoPovprecje
                </td>
            </tr>
        </tbody>
    </table>
    
    <br />
}
