@{
    ViewBag.Title = "IzpitniRok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/mvcfoolproof.unobtrusive.js")" type="text/javascript"></script>

@model studis.Models.IzpitniRokModel

<h2>Dodaj izpitni rok</h2>

@Html.ValidationSummary(true, "Popravite napake in poskusite ponovno.")

@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <!--Izbira Predmeta-->
            <div class="editor-label">
                @Html.LabelFor(m => m.predmet)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.predmet, (SelectList)ViewBag.Predmets, "Izberi predmet")
                @Html.ValidationMessageFor(m => m.predmet)
            </div>

            <!--Izbira izvajanja -->
            <div class="editor-label">
                @Html.LabelFor(m => m.izvajanje)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.izvajanje, (SelectList)ViewBag.Prazen)
                @Html.ValidationMessageFor(m => m.izvajanje)
            </div>
               

            <!--Izbira datuma-->
            <div class="editor-label">
                Datum
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.dan, (IEnumerable<SelectListItem>)ViewBag.danVB)
                @Html.DropDownListFor(m => m.mesec, (IEnumerable<SelectListItem>)ViewBag.mesecVB)
                @Html.DropDownListFor(m => m.leto, (IEnumerable<SelectListItem>)ViewBag.letoVB)
            </div>
            <div class="editor-label">
                Ura
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.ura, (IEnumerable<SelectListItem>)ViewBag.uraVB)
                @Html.DropDownListFor(m => m.min, (IEnumerable<SelectListItem>)ViewBag.minVB)
                
            </div>
            <p>
                <input id="submit" type="submit" value="Dodaj">
            </p>
</fieldset>
    </div>
}

<script language="javascript" type="text/javascript">
    
    $(document).ready(function () {
        $("#predmet").change(function () {
            var url = "/IzpitniRok/GetIzvajanjaForPredmet/" + $(this).val();
            $.get(url, function (response) {
                var izvajanja = $.parseJSON(response);
                var ddlIzvajanja = $("#izvajanje");
                if ($("#predmet option:first-child").text() == "Izberi predmet") {
                    $("#predmet option:first-child").remove();
                }
                //pocisti
                $("#izvajanje > option").remove();

                //napolni
                if (izvajanja.length < 1) {
                    //ddlIzvajanja.append('<option value="">Ni izvajalcev.</option>');
                } else {
                    //ddlIzvajanja.append('<option value="">Izberi</option>');
                }
                for (i = 0; i < izvajanja.length; i++) {
                    ddlIzvajanja.append('<option value="' + izvajanja[i].Value + '">' + izvajanja[i].Text + '</option>');
                }
            });
        });
    });
    
</script>