
@{
    ViewBag.Title = "Spreminjaje izpitnega roka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

@model studis.Models.IzpitniRokModel
<h2>Spreminjaje izpitnega roka</h2>





@using (Html.BeginForm())
{
    <div>
        <fieldset>
            <!--Izbira Predmeta-->
            <div class="editor-label">
                @Html.LabelFor(m => m.predmet)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.predmet, (SelectList)ViewBag.Predmets, "Izberi predmet")
                @Html.ValidationMessageFor(m => m.predmet)
            </div>

            <!--Izbira Izvajanja-->
            <div class="editor-label">
                @Html.LabelFor(m => m.izvajanje)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.izvajanje, (SelectList)ViewBag.Prazen)
                @Html.ValidationMessageFor(m => m.izvajanje)
            </div>

            <!--Izbira IzpitnegaRoka-->
            <div class="editor-label">
                @Html.LabelFor(m => m.id)
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(m => m.id, (SelectList)ViewBag.Prazen)
                @Html.ValidationMessageFor(m => m.id)
            </div>


            <!--Izbira datuma-->
            <script>
                $(function () {
                    $("#datum").datepicker({dateFormat: 'dd.mm.yy'});
                });
            </script>
            <div class="editor-label">
                @Html.LabelFor(m => m.datum)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.datum)
                @Html.ValidationMessageFor(m => m.datum)
            </div>
            <p id="warning" style="color:orange;">
                
            </p>

            <p>
                <input id="submit" type="submit" value="Spremeni">
            </p>
        </fieldset>
    </div>
}


<script language="javascript" type="text/javascript">
    //napolni izvajanja
    $(document).ready(function () {
        $("#predmet").change(function () {
            var url = "/IzpitniRok/GetIzvajanjaForPredmet/" + $(this).val();
            $.get(url, function (response) {
                var izvajanja = $.parseJSON(response);
                var ddlIzvajanja = $("#izvajanje");
                if ($("#predmet option:first-child").text() == "Izberi predmet") {
                    $("#predmet option:first-child").remove();
                }
                //pocisti
                $("#izvajanje > option").remove();

                //pocisti2
                $("#id > option").remove();
                $("#id").append('<option value="">Izberi</option>');

                //napolni
                if (izvajanja.length < 1) {
                    //ddlIzvajanja.append('<option value="">Ni izvajalcev.</option>');
                } else {
                    //ddlIzvajanja.append('<option value="">Izberi</option>');
                }
                for (i = 0; i < izvajanja.length; i++) {
                    ddlIzvajanja.append('<option value="' + izvajanja[i].Value + '">' + izvajanja[i].Text + '</option>');
                }
            });
        });
    });

    //napolni izpitne roke
    $(document).ready(function () {
        $("#izvajanje").change(function () {
            console.log("Parameter: " + $(this).val());
            var url = "/IzpitniRok/GetIzpitniRoksForIzvajanja/" + $(this).val();
            console.log("URL: " + url);
            $.get(url, function (response) {
                var izpitniRoks = $.parseJSON(response);
                var ddlIzpitniRoks = $("#id");
                if ($("#predmet option:first-child").text() == "Izberi") {
                    $("#predmet option:first-child").remove();
                }
                //pocisti
                $("#id > option").remove();

                //napolni
                if (izpitniRoks.length < 1) {
                    //ddlIzpitniRoks.append('<option value="">"Ta predmet nima razpisanih rokov."</option>');
                } else {
                    //ddlIzpitniroks.append('<option value="">Izberi</option>');
                }
                for (i = 0; i < izpitniRoks.length; i++) {
                    ddlIzpitniRoks.append('<option value="' + izpitniRoks[i].Value + '">' + izpitniRoks[i].Text + '</option>');
                }
            });
        });
    });

    //napolni datum
    $(document).ready(function () {
        $("#id").change(function () {
            console.log("Parameter: " + $("#id option:selected").val());
            var url = "/IzpitniRok/GetDatumForIzpitniRok/" + $("#id option:selected").val();
            console.log("URL: " + url);
            $.get(url, function (response) {
                var datum = response;
                console.log("DATUM: " + datum);
                $("#datum").val(datum);
            });
        });
    });
    /*
    $(document).ready(function () {
        $("#id").ready(function () {
            console.log("Parameter: " + $("#id option:selected").val());
            var url = "/IzpitniRok/GetDatumForIzpitniRok/" + $("#id option:selected").val();
            console.log("URL: " + url);
            $.get(url, function (response) {
                var datum = response;
                console.log("DATUM: " + datum);
                $("#datum").val(datum);
            });
        });
    });
    */
    //on submit
    $(document).ready(function () {
        $("#id").change(function () {
            if ($("#id").val() != "") {
                var url = "/IzpitniRok/PreveriPrijave/" + $("#id").val();
                console.log("URL: " + url);
                $.get(url, function (response) {
                    var st = response;
                    $("#warning").text("Stevilo prijav: " + st);
                });
            } else {
                $("#warning").text("");
            }
        });
    });
</script>