@model IEnumerable<studis.Models.VnosTockModel>
@using studis.Models

@{
    ViewBag.Title = "SeznamPrijavljenihKandidatov";
    Layout = "~/Views/Shared/_Layout.cshtml";
    StudentHelper sh = new StudentHelper();
}

<h2>Seznam prijavljenih kandidatov za izbrani izpitni rok</h2>

<table id="izpis" class="table">
    <tr>
        <th>Šifra predmeta</th>
        <th>Ime predmeta</th>
        <th>Izpraševalci</th>
        <th>Datum izvajanja</th>
        <th>Ura izvajanja</th>
        <th>Prostor</th>
    </tr>
    <tr>
        <td>@ViewBag.sifraPredmeta</td>
        <td>@ViewBag.imePredmeta</td>
        <td>@ViewBag.izvajalci</td>
        <td>@ViewBag.datum</td>
        <td>@ViewBag.ura</td>
        <td>@ViewBag.prostor</td>
    </tr>
    <tr>
        <th>
            Zaporedna številka
        </th>
        <th>
            Vpisna številka
        </th>
        <th>
            Priimek
        </th>
        <th>
            Ime
        </th>
        <th>
            Študijsko leto
        </th>
        <th>
            Zap. št. polaganja
        </th>
        <th>
            Vpis ocene
        </th>
    </tr>
@if(Model!=null)
{
    foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.zaporednaStevilka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vpisnaStevilka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priimek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.studijskoLeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.zaporednoSteviloPonavljanja)
        </td>
        @if (ViewBag.ocenetocke == true)
        {
        <td>
            @{ var prijavaId = sh.pridobiPrijavaId(Convert.ToInt32(item.vpisnaStevilka), @ViewBag.idRoka); }
            @Html.ActionLink("Vpis", "IndiVpisOcen", "IzpitniRok", new { rokId = @ViewBag.idRoka, prijavaID = @prijavaId }, null)
        </td>
        }
        else
        {
            <td>Ni mogoče</td>
        }
    </tr>
    }
}
</table><br/>
@if (User.IsInRole("Referent") || User.IsInRole("Profesor"))
{ 
    if (ViewBag.ocenetocke == true)
    {
        <li>@Html.ActionLink("Vpiši točke", "VpisTock", "IzpitniRok", new { rokID = @ViewBag.idRoka }, null)</li>
        <li>@Html.ActionLink("Vpiši ocene", "VpisOcen", "IzpitniRok", new { rokID = @ViewBag.idRoka }, null)</li>
    }
    <li>@Html.ActionLink("Izpiši seznam s točkami", "IzpisTock", "IzpitniRok", new { rokID = @ViewBag.idRoka, seznam = 0 }, null)</li>
    <li>@Html.ActionLink("Izpiši seznam s točkami(brez imen)", "IzpisTock", "IzpitniRok", new { rokID = @ViewBag.idRoka, seznam = 1 }, null)</li>
    <li>@Html.ActionLink("Izpiši seznam s končnimi ocenami", "IzpisOcen", "IzpitniRok", new { rokID = @ViewBag.idRoka, seznam = 0 }, null)</li>
    <li>@Html.ActionLink("Izpiši seznam s končnimi ocenami(brez imen)", "IzpisOcen", "IzpitniRok", new { rokID = @ViewBag.idRoka, seznam = 1 }, null)</li>
}