@model IEnumerable<studis.Models.student>

@{
    ViewBag.Title = "SeznamPrijavljenihKandidatov";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Seznam prijavljenih kandidatov za izbrani izpitni rok</h2>

<table id="izpis" class="table">
    <tr>
        <th>Šifra predmeta</th>
        <th>Ime predmeta</th>
        <th>Izpraševalci</th>
        <th>Datum izvajanja</th>
        <th>Ura izvajanja</th>
        <th>Prostor</th>
    </tr>
    <tr>
        <td>@ViewBag.sifraPredmeta</td>
        <td>@ViewBag.imePredmeta</td>
        <td>@ViewBag.izvajalci</td>
        <td>@ViewBag.datum</td>
        <td>@ViewBag.ura</td>
        <td>@ViewBag.prostor</td>
    </tr>
    <tr>
        <th>
            Zaporedna številka
        </th>
        <th>
            Vpisna številka
        </th>
        <th>
            Priimek
        </th>
        <th>
            Ime
        </th>
        <th>
            Študijsko leto
        </th>
        <th>
            Zap. št. polaganja
        </th>
    </tr>
@if(Model!=null)
{
    int zap=0;
    foreach (var item in Model) {
        zap = zap + 1;
    <tr>
        <td>
            @zap
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vpisnaStevilka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.priimek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ime)
        </td>
        <td>
            @ViewBag.years[zap-1]
        </td>
        <td>
            @ViewBag.vsaPolaganja[zap - 1]
        </td>
    </tr>
    }
}
</table><br/>
@if (User.IsInRole("Referent") || User.IsInRole("Profesor"))
{ 
    <li>@Html.ActionLink("Vpiši točke", "VpisTock", "IzpitniRok", new { rokID = @ViewBag.idRoka }, null)</li>
}