@model IEnumerable<studis.Models.VnosTockModel>
    @{
        ViewBag.Title = "Vnos Tock";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>Vnos Točk</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table id="izpis" class="table">
        <tr>
            <th>Šifra predmeta</th>
            <th>Ime predmeta</th>
            <th>Izpraševalci</th>
            <th>Datum izvajanja</th>
            <th>Ura izvajanja</th>
            <th>Prostor</th>
        </tr>
        <tr>
            <td>@ViewBag.sifraPredmeta</td>
            <td>@ViewBag.imePredmeta</td>
            <td>@ViewBag.izvajalci</td>
            <td>@ViewBag.datum</td>
            <td>@ViewBag.ura</td>
            <td>@ViewBag.prostor</td>
        </tr>
        <tr>
            <th>
                Zaporedna številka
            </th>
            <th>
                Vpisna številka
            </th>
            <th>
                Priimek
            </th>
            <th>
                Ime
            </th>
            <th>
                Študijsko leto
            </th>
            <th>
                Zap. št. polaganja
            </th>
            <th>
                Št. točk
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.zaporednaStevilka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vpisnaStevilka)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.priimek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.studijskoLeto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.zaporednoSteviloPonavljanja)
                    </td>
                    <td class="editor-field">
                        @Html.TextBoxFor(modelItem => item.tocke, new { @type = "number" })
                        @Html.ValidationMessageFor(modelItem => item.tocke)
                    </td>
                </tr>
            }
        }
    </table>
    <p>
        <input id="submit" type="submit" value="Potrdi vnos">
    </p>
}