@model IList<studis.Models.VnosTockModel>
    @{
        ViewBag.Title = "Vpis Tock";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<h2>Vpis Točk</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <table id="izpis" class="table">
        <tr>
            <th>Šifra predmeta</th>
            <th>Ime predmeta</th>
            <th>Izpraševalci</th>
            <th>Datum izvajanja</th>
            <th>Ura izvajanja</th>
            <th>Prostor</th>
        </tr>
        <tr>
            <td>@ViewBag.sifraPredmeta</td>
            <td>@ViewBag.imePredmeta</td>
            <td>@ViewBag.izvajalci</td>
            <td>@ViewBag.datum</td>
            <td>@ViewBag.ura</td>
            <td>@ViewBag.prostor</td>
        </tr>
        <tr>
            <th>
                Zaporedna številka
            </th>
            <th>
                Vpisna številka
            </th>
            <th>
                Priimek
            </th>
            <th>
                Ime
            </th>
            <th>
                Študijsko leto
            </th>
            <th>
                Zap. št. polaganja
            </th>
            <th>
                Vpisane točke
            </th>
            <th>
                Vpiši/spremeni točke
            </th>
        </tr>
        @if (Model != null)
        {
            for (var i = 0; i < Model.Count; i++)
            {
                @Html.HiddenFor(x => x[i].idRoka)
                <tr>
                    <td>
                        @Html.DisplayFor(x => x[i].zaporednaStevilka)
                        @Html.HiddenFor(x => x[i].zaporednaStevilka)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].vpisnaStevilka)
                        @Html.HiddenFor(x => x[i].vpisnaStevilka)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].priimek)
                        @Html.HiddenFor(x => x[i].priimek)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].ime)
                        @Html.HiddenFor(x => x[i].ime)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].studijskoLeto)
                        @Html.HiddenFor(x => x[i].studijskoLeto)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].zaporednoSteviloPonavljanja)
                        @Html.HiddenFor(x => x[i].zaporednoSteviloPonavljanja)
                    </td>
                    <td>
                        @Html.DisplayFor(x => x[i].zeVpisaneTocke)
                        @Html.HiddenFor(x => x[i].zeVpisaneTocke)
                    </td>
                    <td class="editor-field">
                        @Html.TextBoxFor(x => x[i].tocke)
                        @Html.ValidationMessageFor(x => x[i].tocke)
                    </td>
                </tr>
            }
        }
    </table>
    <p>
        <input id="submit" type="submit" value="Potrdi vnos">
    </p>
}
@if(User.IsInRole("Referent") || User.IsInRole("Profesor"))
{
    <li>@Html.ActionLink("Izpiši seznam s točkami", "IzpisTock", "IzpitniRok", new { rokID = @ViewBag.idRoka }, null)</li>
}